.card
{
   
    border-style:solid;
    border-color: blue;
    text-align: center;
   
}
.imgstyle
{
    width: 80%;
    height: auto;
}
.info
{
    font-size: 12px;
    text-align: left;
    align-items: center;
}
