.book
{
    
    display: flex;
    flex-direction: row;
    max-width: 20%;
    padding: 10px;
    border-style: solid;
    border-color: rgb(228, 228, 228);
    
    
}
.bookdisplay
{
    display: flex;
   flex-wrap: wrap;
   
    
}
